<h1>Listing techniques</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @techniques.each do |technique| %>
  <tr>
    <td><%= technique.name %></td>
    <td><%= technique.level %></td>
    <td><%= link_to 'Show', technique %></td>
    <td><%= link_to 'Edit', edit_technique_path(technique) %></td>
    <td><%= link_to 'Destroy', technique, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Technique', new_technique_path %>
